<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="css/style.css">
      <meta http-equiv = "refresh" content = "1; url = '/home.html'" />
<title>Login check</title>
</head>
<body>
<div class="content">

<div class="header">
  <h1>Mick's Restaurant Advisor</h1>
  <p>Logged in!</p>
</div> 

<h2>Success!</h2>
<h2><span th:text="${user}" /><br/> </h2>
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <p class="w3-medium">
    Created by Mick Scanlon for COSC 4800
  </p>
</footer>
</div>
</body>
</html>