<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>register results</title> 
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv = "refresh" content = "3; url = '/home.html'" />
</head>
<body>
<div class="content">
<div class="header">
  <h1>Mick's Restaurant Advisor</h1>
  <p>Order</p>
</div> 
    
<h2><span th:text="${registerCommand}" /> <br/></h2>
 Redirecting to home page ...  
</div>
</body>
</html>