<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Restaurants</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta http-equiv = "refresh" content = "1; url = '/home.html'" />
</head>
<body>    
<div class="content">
<div class="header">
  <h1>Mick's Restaurant Advisor</h1>
  <p>Restaurants</p>
</div> 

 <div class="topnav">
  <a href="/Home.html">Home</a>
  <a href="orderRestaurants">Orders</a>
  <a class="active">Restaurants</a>
  <a href="/Reviews.html">Reviews</a>
  <a href="/RestaurantLogin.html">Logout</a>
</div> 
</div>
</body>
</html>